body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 42px 0px;
    background-color: #5CACE6;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: #5CACE6;
}

a {
    text-decoration: none;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

a:active {
    color: rgb(98, 188, 211);
}
a:visited {
    color:rgb(124, 10, 10);
}

tr:nth-child(even) {
    background-color: aquamarine;
}
th{

    background-color:rgba(17, 100, 72, 0.808);

}